*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime !important; */
}

form {
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

input {
  opacity: 0;
}
