/* Styling the app component */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  /* outline: 1px solid lime !important; */
}

h1 {
  font-family: "Rubik Glitch", cursive;
  font-size: clamp(3rem, 10vw, 6rem);
  padding-block: 0.5em;
  text-align: center;
}

:root {
  --txt-color: hsl(120, 100%, 50%);
  --bg-color: hsl(0 0% 20%);
  --bg-container-color: hsl(0 0% 100% / 0.07);
  --btn-color: hsl(120, 100%, 50%);
  --btn-txt-color: hsl(0 0% 0%);
}

form {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  gap: 50px;
}

.rotors {
  display: flex;
  gap: 1.5em;
}

.textarea {
  display: flex;
  width: 80%;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (width < 650px) {
  .textarea {
    width: 100%;
    flex-direction: column;
  }
}
